---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
<!--
<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
      {%- if category_name == "Coursework" -%}
        <div id="#{{ category_name | slugize }}"></div>
        <p></p>
        
        <h3 class="category-head">{{ category_name }}</h3>
        <a name="{{ category_name | slugize }}"></a>
        <table>
          {% for post in site.categories[category_name] %}

          {% endfor %}
        </table>
      {%- else -%}
        <div id="#{{ category_name | slugize }}"></div>
        <p></p>
        
        <h3 class="category-head">{{ category_name }}</h3>
        <a name="{{ category_name | slugize }}"></a>
        {% for post in site.categories[category_name] %}
        <article class="archive-item">
          <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
        </article>
        {% endfor %}
      {%- endif -%}
  </div>
{% endfor %}
</div>
-->
<!--
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
-->
    <h2 class="coursework-list-heading">{{ page.list_title | default: "Coursework" }}</h2>
    <table>
      <th>Date</th>
      <th>Content</th>
      <th>Reading</th>
      {%- for post in site.categories.Coursework -%}
        {%- assign date_format = site.minima.date_format | default: "%A, %B %-d, %Y" -%}
        <tr>
          <td>{{ post.date | date: date_format }}</td>
          <td>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </td>
          <td>{{ post.reading }}</td>
        </tr>
      {%- endfor -%}
    </table>
<!--
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
-->
<!--
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}
-->

</div>
